$gutter-horizontal: 2.2rem;
$grid-width:114rem;


// color shadow
$color-black: #000;

//profile colors
$color-dark: #8e24aa;
$color-light: #311b92;


//hover colors
$color-blue-1: #424242;
$color-blue-2: #0091ea;
$color-blue-3: #6200ea;

//color button
$color-button-1: #d500f9;
$color-button-2: #d50000;
